<div class="mat-elevation-z8">
  <table mat-table [dataSource]="cart1" matSort>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>userId</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.imgSrc" alt="" /> {{ row.userId }}
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="pId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>productId</th>
      <td mat-cell *matCellDef="let row">{{ row.pId }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>quantity</th>
      <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
      <td mat-cell *matCellDef="let row">{{ row.price }}</td>
    </ng-container>

    <!-- Color Column -->

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
      <td mat-cell *matCellDef="let row">
        {{ row.date | date: "mediumDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="delieveryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Deleivery date</th>
      <td mat-cell *matCellDef="let row">
        {{ row.delieveryDate | date: "mediumDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">
        {{
          (currentDate | date: "mediumDate") >
          (row.delieveryDate | date: "mediumDate")
            ? "Delieverd"
            : "InProgress"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="editorials" style="padding-left: 45px">
      <th mat-header-cell *matHeaderCellDef>Editorials</th>
      <td mat-cell *matCellDef="let row">
        <button class="mat1" mat-button>
          <mat-icon
            color="accent"
            (click)="cancelOrder(row.pId, row.delieveryDate)"
            >delete_sweep</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
