table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  img
  {
    width:32px;
    height: 32px;
    border-radius: 50%;
  }
  .addproduct{
    padding-top: 20px;
    text-align: center;

  }
  .mat1:hover::before{
    content:'Edit'; 
  }

.mat2:hover::before{
  content:'Delete';
}
