

.card {
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 3rem;
    position: relative;
    width: 500px;
  }
  .card1{
    padding-top: 0;
    border-radius: 2px;
    display: inline-block;
    height: 200px;
    margin: 2rem;
    position: relative;
    width: 500px;
  }
  .example-container>*{
    width:50%;
  }
  .warn{
    cursor: not-allowed;
  }