.card {
  border-radius: 2px;
  height: 300px;
  margin: 3rem;
  position: relative;
  width: 25%;
  float: right;
  color: skyblue;
}
.card1 {
  color: skyblue;
  padding-top: 0;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 2rem;
  position: relative;
  width: 50%;
  padding-top: 0;
}
.heading {
  font-family: cursive;
  font-size: 100%;
  padding-top: 25px;
}
mat-form-field {
  width: 75%;
}
mat-slider {
  width: 75%;
}
.icon {
  width: 200%;
  height: 200%;

  font-size: 300%;
}

.disable {
  cursor: not-allowed;
}
/* .description{
  
  } */
