

<div class="card1"> 
  <h3>Cancellation Details</h3>
  <mat-vertical-stepper [linear]="true" >
   <mat-step [stepControl]="firstFormGroup">
     <form [formGroup]="firstFormGroup">
       
       <ng-template matStepLabel>
         State Reason For Return</ng-template>
       <mat-form-field>
        <input matInput placeholder="Cleanly State Reason For Refund" formControlName="name" required>
       </mat-form-field>
       
       <div>
         <button mat-button color="accent" matStepperNext>Next</button>
       </div>
     </form>
   </mat-step>
   <mat-step [stepControl]="secondFormGroup">
     <form [formGroup]="secondFormGroup">
       <ng-template matStepLabel>Enter PickUp Location</ng-template>
       <mat-form-field>
         <input matInput placeholder="Area And Street" formControlName="address" required>
       </mat-form-field>
       <ng-template matStepLabel>Mobile Number</ng-template>
       <mat-form-field>
         <input matInput placeholder="enter your phone number" formControlName="phone" required>
       </mat-form-field>
       <ng-template matStepLabel>City</ng-template>
       <mat-form-field>
         <input matInput type="text" placeholder="enter City/District/Town" required formControlName="city">
       </mat-form-field>
       <ng-template>PinCode</ng-template>
       <mat-form-field>
         <input type="text" placeholder="PinCode" formControlName="pincode" matInput required>
       </mat-form-field>
       <ng-template>LandMark</ng-template>
       <mat-form-field>
           <input type="text" placeholder="LandMark (optional)" matInput formControlName="landmark">
       </mat-form-field>

       <div>
         <button mat-button  color="accent" matStepperPrevious>Back</button>
         <button mat-button color="accent" matStepperNext>Next</button>
       </div>
     </form>
   </mat-step>
   <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      
      <ng-template matStepLabel>Refund Method
      </ng-template>
        <mat-form-field>
          <mat-select formControlName="payment" placeholder="Refund Method">
            <mat-option *ngFor="let payment of payments" [value]="payment">
              {{payment}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
      <div>
        <button mat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
   <mat-step>
     <ng-template matStepLabel>Done</ng-template>
     Rate Your Experience.
     <div>
       <button mat-button color="accent" matStepperPrevious>Back</button>
       <button mat-button>Reset</button>
     </div>
   </mat-step>
 </mat-vertical-stepper>
 
 
 <button mat-raised-button color="primary" class="disable" color="warn" *ngIf="!secondFormGroup.valid" >   
 <mat-icon color="accent">local_shipping</mat-icon> 
 Proceed to refund
</button>
 
 
 <button mat-raised-button color="accent" color="accent" *ngIf="secondFormGroup.valid" (click)="cancelOrder()">Proceed to refund</button>
<div class="icon"> 
   <mat-icon color="accent" *ngIf="clicked" @fade1>flight_takeoff</mat-icon>
</div>
</div>





<!--right side card to display details about the selected product-->
<div class="card">
  <h3>Product To Be Cancelled</h3>
  <mat-card class="app-card">
    <mat-card-header>
            <!-- logo image of that product button-->
            <div mat-card-avatar class="app-header-image"></div>
            <mat-card-title>{{currentProduct.pId}}</mat-card-title>
    </mat-card-header>


    <img mat-card-image [src]="currentProduct.imgSrc">

    <!-- amount of that product-->
    <mat-card-content style="font-weight: bold;font-size: large;text-align: center">
        {{currentProduct.price| currency }}  *  {{currentProduct.quantity }}
    </mat-card-content>
    <mat-card-content style="font-weight: bold;font-size: large;text-align: center">
      {{currentProduct.quantity*currentProduct.price}}
  </mat-card-content>

   </mat-card>       
    </div>