<form [formGroup]="registrationForm">
        <div  style="text-align:center" class="app-container">
        <mat-form-field>
          <input matInput required name="email" width=70% placeholder="Enter valid EmailId" formControlName="email" type="email">
          <mat-hint>enter correct email format</mat-hint>
        </mat-form-field>


        <mat-form-field>
            <input matInput  name="username" placeholder="Username"  formControlName="username"  width=70% >
          <mat-hint>one special characters,alphanumeric with one capital</mat-hint>
          </mat-form-field>
          <mat-form-field >
              <input matInput type="password" name="password" formControlName="password"  width=70% placeholder="Enter valid password">
            </mat-form-field>
            <mat-form-field >
                <input matInput type="password" name="password1" formControlName="password1"  width=70% placeholder="Confirm Ur password">
              </mat-form-field>
            <mat-form-field >
                <input matInput required name="url" formControlName="url"  width=70% placeholder="Enter valid imgUrl">
             
              </mat-form-field>
        <mat-form-field>
          <mat-select required name="age" formControlName="age" placeholder="Select me">
            <mat-option value="90s kids">1990-2000</mat-option>
            <mat-option value="90s kids">1980-1990</mat-option>
            <mat-option value="90s kids">1970-1980</mat-option>
            <mat-option value="90s kids">2000</mat-option>
          </mat-select>
        </mat-form-field>
              <button  mat-raised-button color="accent" (click)="RegisterNewUser()" >Register</button>

      </div>
        </form>

        